@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color:#e7e5e5;
    box-sizing: border-box;
}

.stars {
    display:inline-block;
    width:auto;
    position:relative;
    font-size:28px;
    border-radius:5px;
    margin:5px;
}


.stars:before {
	content: "★★★★★";
	position: absolute;
	overflow: hidden;
	z-index: 1;
	left: 0px;
	top: 0px;
	color: #fc0;
}

.stars:after {
	content: "★★★★★";
	position: relative;
	color: #fff;
	text-shadow: 0px 1px 0 #fc0, 0 -1px 0 #fc0;
}

.stars.rate:after {
	position: absolute;
	left: 0px;
}

.stars[rating="10"]:before {
	width: 10%;
}

.stars[rating="20"]:before {
	width: 20%;
}
.stars[rating="30"]:before {
	width: 30%;
}
.stars[rating="40"]:before {
	width: 40%;
}
.stars[rating="50"]:before {
	width: 50%;
}
.stars[rating="60"]:before {
	width: 60%;
}
.stars[rating="70"]:before {
	width: 70%;
}
.stars[rating="80"]:before {
	width: 80%;
}
.stars[rating="90"]:before {
	width: 90%;
}
.stars[rating="100"]:before {
	width: 100%;
}

.container {
	max-width: 1600px;
	margin: 20px auto;
	.headlines {
		margin-bottom: 50px;
		text-align: center;
		h1 {
			font-size: 56px;
			font-weight: 500;
			margin-bottom: 30px;
		}
		h2 {
			font-size: 28px;
			padding: 0px 350px;
			text-align: left;
		}
	}

	img {
		width: 200px;
		height: auto;
	}
	.productPage {
		padding: 0px 40px;
		.products {
			background-color: white;
			.productSection {
				display: flex;
				min-height: 500px;
				.left {
					width: 50%;
					background-color: #e7e5e5;
					display: flex;
					align-items: center;
					padding: 50px 100px 50px 0px;
					justify-content: space-between;
					h2 {
						padding: 25px;
						font-size: 28px;
					}
					svg {
						width: 50px;
						height: 50px;
					}
				}
				.right {
					width: 50%;
					font-size: 20px;
					padding: 0px 50px;
					display: none;
					h3 {
						padding: 40px 0px 30px 0px;
						font-size: 35px;
					}
					.productDescription,
					.productRating {
						margin-bottom: 30px;
						font-size: 30px;
					}
					button {
						background-color: #179;
						color: white;
						box-sizing: border-box;
						min-width: 250px;
						height: 60px;
						cursor: pointer;
						display: flex;
						justify-content: center;
						align-items: center;
						border-color: initial;
						font-size: 28px;
						border-radius: 10px;
					}
					.cartHolder {
						display: flex;
						justify-content: center;
					}
				}
				&.selected {
					.right {
						display: block;
					}
				}
			}
		}
	}
}

//reset.css end

@media screen and (max-width: 991px) {
    .container {
        .headlines {
            h2 {
                padding: 0px 100px;
            }
        }

        img {
            width: 180px;
        }
        .productPage {
            padding:0px 20px;
            .products {
                .productSection {
 
                    .left {
                        padding: 25px 50px 25px 0px;
                        h2 {
                            padding: 18px;
                            font-size: 24px;
                        }
                        svg {
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .right {
                        .productDescription,
                        .productRating {
                            font-size: 24px;
                        }
                    }
                    &.selected {
                        .right {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 776px) {
    .container {
        .headlines {
            h1 {
                font-size: 40px;
            }
            h2 {
                padding: 0px 20px;
                text-align: center;
                font-size:20px;
            }
        }

        img {
            width: 120px;
        }
        .productPage {
            .products {
                .productSection {
                    display: block;
                    height: auto;
                    min-height:unset;
                    .left {
                        width: 100%;
                        padding: 15px;
                        h2 {
                            padding: 18px;
                            font-size: 20px;
                            text-align: center;
                        }
                        svg {
                            width: 36px;
                            height: 36px;
                            -ms-transform: rotate(90deg); /* IE 9 */
                            transform: rotate(90deg);
                        }
                    }
                    .right {
                        width: 100%;
                        h3 {
                        }
                        button {
                            width:100%;
                        }
                        .cartHolder {
                            margin-bottom:20px;
                        }
                    }
                    &.selected {
                        .right {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 479px) {
    .container {
        img {
            width: 120px;
        }
        .productPage {
            .products {
                .productSection {

                    .left {
                        padding: 10px;
                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }

                }
            }
        }
    }
}
